<%= link_to 'Private classes', personalclasses_path %> <%= link_to 'Students', users_path %>
<%= link_to 'Workshops', workshops_path %>
<h1>Editing Personalclass</h1>

<%= render 'form' %>

<%= link_to 'Show', @personalclass %> |
<%= link_to 'Back', personalclasses_path %>
