<%= link_to 'Private classes', personalclasses_path %> <%= link_to 'Students', users_path %>
<%= link_to 'Workshops', workshops_path %>
<h1>Personal Classes</h1>

<table>
  <thead>
    <tr>
      <th>Tutor name</th>
      <th>Subject</th>
      <th>Date</th>
      <th>Time</th>
      <th>Booking Status</th>
      <th>User name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @personalclasses.each do |personalclass| %>
      <tr>
        <td><%= personalclass.tutor_name %></td>
        <td><%= personalclass.subject %></td>
        <td><%= personalclass.date %></td>
        <td><%= personalclass.time %></td>
        <td><%= personalclass.booked %></td> 
        <td><%= personalclass.user_id %></td>
       
        <% if user_signed_in? %>
        <% if personalclass.booked == false %>
        <td><%= link_to('Book', personalclass_path(personalclass, 'personalclass[booked]' => true, 'personalclass[user_id]' => @user.id), method: :put, data: { confirm: 'Booking this class?' }) %></td>
        <% end %>
        <% end %>
  
        <td><%= link_to 'Show', personalclass %></td>

        <% if admin_signed_in? %>
        <td><%= link_to 'Edit', edit_personalclass_path(personalclass) %></td>

        <td><%= link_to 'Destroy', personalclass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if admin_signed_in? %>
  <%= link_to 'New Personal Class', new_personalclass_path %>
<% end %>
