
<p>
  <strong>Tutor name:</strong>
  <%= @personalclass.tutor_name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @personalclass.subject %>
</p>

<p>
  <strong>Date:</strong>
  <%= @personalclass.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @personalclass.time %>
</p>

<% if admin_signed_in? %>
<%= link_to 'Edit', edit_personalclass_path(@personalclass) %> |
<% end %>
<%= link_to 'Back', personalclasses_path %>
