<section class="content-wrapper">
<aside class="md-col md-col-3">
  <div class="side-bar">
  <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
        <li class="highlight"><h4>Classes</h4></li>
        <li><%= link_to "Private classes", personalclasses_path %></li>
        <li><%= link_to 'Students', users_path %></li>
        <li><%= link_to "workshops", workshops_path %></li>
  </ul>
  </div>
</aside>

<div class="sidebar md-col md-col-9">
<div class="table-box">
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User Id:</strong>
  <%= @user.id %>
</p>
<p>
<!--   <strong>Photo:</strong>
  <%= @user.photo %>
</p> -->
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
</div>
</section>