<section class="content-wrapper">
<aside class="md-col md-col-3">
  <div class="side-bar">
  <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
        <li class="highlight"><h4>Classes</h4></li>
        <li><%= link_to "Private classes", personalclasses_path %></li>
        <li><%= link_to 'Students', users_path %></li>
        <li><%= link_to "workshops", workshops_path %></li>
  </ul>
  </div>
</aside>

<div class="sidebar md-col md-col-9">
<div class="table-box">
<p>
  <strong>Name:</strong>
  <%= @workshop.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @workshop.duration %>
</p>

<p>
  <strong>Date:</strong>
  <%= @workshop.date %>
</p>

<p>
  <strong>Total seats:</strong>
  <%= @workshop.total_seats %>
</p>

<p>
  <strong>Available seats:</strong>
  <%= @workshop.available_seats %>
</p>

<p>
  <strong>Price:</strong>
  <%= @workshop.price %>
</p>

<p>
  <strong>Users:</strong>
  <%= @workshop.user_id %>
</p>

<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'Back', workshops_path %>
</div>
</div>
</section>